.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.header-btn{
    padding: 0.8em 1em;
    border-radius: 0.5em;
    font-size: 1rem;
    background-color: rgb(63, 63, 143);
    color: white;
}

.users-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7em;
    padding: 1em;
}


